<ion-view view-title="Learn">
    <ion-content>
        <div class="card">
            <div class="item item-text-wrap">
                <p>Dragonfly is a research project led by high school students Alex Fine and John Reinstra and is designed to investigate natural language processing. The goal of the app is to simplify research and the goal of the algorithm is to strengthen the understanding of NLP algorithms. </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p><b>The Problem: </b>Research is currently a long arduous process. Students start the research process by querying Google for the needed information. The students then have to thoroughly read over numerous websites to try to summarize the accurate information. After they've summarized the source, they then need to figure out if it's reliable. This process takes multiple steps, and Dragonfly turns this process into one step. Search, and immediately get reliable facts.   </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p><b>The Algorithm: </b>The algorithm finds key facts by first stripping the body of text of the "crap," or insignificant words. The algorithm then runs the remaining text through a synonym dictionary to unify the language. It then assigns values to the remaining words based on how often they appear the english language. Rare words are given higher scores. Each sentence is then given an overall score. That score is then influence by where it appears in the paragraph. Sentences that appear in the first sentence are generally more important than a middle sentence in the middle of the text, so, those more important sentences are weighted more. The algorithm then compares similar sentences between bodies of text. Sentences that have similar linguistic patterns, and a high value, are given even higher scores. These top few facts are then displayed to the user as the best information for that query.  </p>
            </div>
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p>Special thanks to Jackson Vachal, Brij Stewart, Sam Schickler, Alex Sahai, John Craig, Ryan Kearns and Trent Hommeyer.  </p>
            </div>
        </div>
    </ion-content>
</ion-view>