<ion-view view-title="Search">
    <ion-content>

        <div ng-controller="PlaylistsCtrl">
            <div style="padding:1%;">
            <button class="button button-outline button-energized" style="width:49%; margin-right:1%;">
                Save Facts
            </button>
                <button class="button button-outline button-energized" style="width:49%">
                Share Dragonfly
            </button>
                </div>
            <div class="list">

                <div class="item item-button-right">
                    <input ng-model="query" type="text" placeholder="Search" style="width:100%;">
                    <button class="button button-assertive" ng-click="go(query)" style="height:50px;">
                        Fly
                    </button>
                </div>


            </div>
            <div class="card" ng-repeat="fact in Facts">
                <div class="item item-text-wrap">
                    <blockquote style="border-color:#ff9999;">
                    <p><b> {{$index + 1}}. </b> {{Facts[$index]}}
                        <br><small>- Encyclipedia Britanika</small>
                    </p>
                        </blockquote>
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>