<ion-view view-title="Search">
    <ion-content>
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search"> 
                <a ng-click="search(value)" >Go</a>
            </label>
            
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p><b>1.</b> About two million new jobs were created in the U.S. during the year, a creditable performance but not sufficient to fully offset jobs lost during the recession.<br><small>- Encyclipedia Britanika</small></p>
            </div>
        </div>
    </ion-content>
</ion-view>