<ion-view view-title="Search">
    <ion-content>
<!--
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input ng-model="query" type="text" placeholder="Search">

            </label>
            <button class="button button-assertive" ng-click="search();">
                Fly
            </button>
        </div>
-->
        <div class="list">

            <div class="item item-button-right">
               <input ng-model="query" type="text" placeholder="Search"> 
                <button class="button button-assertive"  ng-click="search()" style="height:50px;">
                    Fly <i class=" ion-jet"></i>
                </button>
            </div>

           
<button class="button" ng-click="go()">Hello</button>
             <ul>
  <li ng-repeat="x in names">
    {{ x.Name + ', ' + x.Country }}
  </li>
</ul> 
            
        </div>
        <div class="card">
            <div class="item item-text-wrap">
                <p><b>1.</b> About two million new jobs were created in the U.S. during the year, a creditable performance but not sufficient to fully offset jobs lost during the recession.
                    <br><small>- Encyclipedia Britanika</small>
                </p>
            </div>
        </div>
       
        <!--
        <div style="height:1000px;">
        <iframe src="http://dragonflysearch.com/search/mobileindex.php/?q=Steve+jobs" height="1000" style=" width:100%;">Loading...</iframe>
            </div>
-->
    </ion-content>
</ion-view>